.lista-1 li{
  background-color: aqua;
}
.lista-1 li:first-child{
  background-color: blue;
}
.lista-1 li:nth-child(3){
  background-color: blue;
}
.lista-2 li:nth-child(3n){
  background-color: blue;
}
.lista-3 li:not(:first-child){
  background-color: brown;
}

h1::after{
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: black;
}
.tst{
  font-size: 1.5em;
  list-style: none;
}
.tst::before{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: linear-gradient(red, green);
  border: 2px solid red;
  margin-right: 10px;
  border-radius: 50%;
}
