@charset "UTF-8";
:root{
  /*Cores*/

  --cinza-fundo: #f7f7f7;
  --cinza-texto: #c6c6c6;
  --vermelho: #ee2211;
  
  /*Tipografia*/
  
  --fonte: Arial;
  /*parágrafos: 20px
  Vantagens Bikcraft: 64px*/
  
  /*Tamanhos
  
  conteúdo principal: máximo 1000px*/
}
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: var(--cinza-fundo);
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

/*HEADER*/
.header{
  display: grid;
  justify-items: center;
}
img{
  max-width: 100%;
  display: block;
}
a{
  text-decoration: none;
}
ul{
  display: contents;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
p,h1,h2,h3{
  margin: 0;
}
p{
  font-size: 1.25rem;
  line-height: 1.3em;
  justify-content: center;
}
nav{
  display: flex;
  gap: 20px;
  padding: 3.5rem 0rem 0rem 0rem;
}
.menu a{
  display: block;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: black;
  text-transform:capitalize;
  transition: 0.5ms;
  border:2px solid white;
}
.menu a:hover{
  border-color: cadetblue;
}

/*MAIN*/
main{
  padding: 0px;
  margin: 0px;
}
.conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  align-content: center;
  gap: 0px;
  justify-items: end;
}
.introducao{
  background-color: white;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
}
.introducao h1{
  font-size: 2rem;
}
.introducao::before{
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--vermelho);
  position: absolute;
  top: 30px;
  right: -30px;
}
.botao{
  background-color: var(--vermelho);
  color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.botao:hover{
  background-color: #be291cc2;
}
.subtitulo{
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--cinza-texto);
  text-align: right;
  padding: 40px;
  align-self: center;
  /*background-image: url(onda.sgv);*/
}
.vantagens{
  background-color: white;
  padding: 40px;
}
.vantagens-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 2px solid transparent;
}
.vantagens-item:nth-child(odd){
background:#c6c6c6;
}
.vantagens-item p{
  grid-column: 2;
}
.vantagens-item:hover{
  border-left: 2px solid red;
}
/*FOOTER*/
.rodape{
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}